* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-decoration: none;
}

.men {
    width: 100%;
    height: 70px;
    background-color: black;
}

a {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 40px;
    color: #fff;

}

h1 {
    text-align: center;
}

.sa {
    display: flex;
    width: 100%;
    text-align: justify;
    align-items: center;
}

.sa h2 {
    margin: 20px;
    margin-left: 270px;
}

.rasm {
    display: flex;
}

.rasm2 {
    display: flex;
}

.rasm2 img {
    width: 50%;
    height: 400px;
}

.rasm img {
    width: 50%;
    height: 400px;
}

.rasm3 {
    display: flex;
}

.rasm3 img {
    width: 50%;
    height: 400px;
}

.rasm4 {
    display: flex;
}

.rasm4 img {
    width: 50%;
    height: 500px;
}

.d1 {
    margin-left: 50px;
    display: flex;
}

.d1>.d11 {
    width: 19%;
    height: 350px;
    border: 3px solid black;
}

.d1>.d11>img {
    width: 247px;
    height: 200px;
}

.d1>.d11>.a {
    color: black;
    margin-left: 80px;
}

.d1>.d11>p {
    margin-left: 60px;
}

.img {
    display: flex;
}

.img>img {
    margin: 60px;
    width: 500px;
    height: 500px;
}

.joy {

    margin: 40px;
}

.f {
    border: 3px solid black;
    margin: 20px;
    background: rgb(255, 230, 0);

}

.c {
    border: 3px solid black;
    margin: 20px;
    background: red;
}

button {
    width: 150px;
    height: 40px;
    margin-left: 180px;
    border-radius: 20px;
    background: black;
    margin-left: 600px;
}

.rasm5 {
    display: flex;
}

.rasm5 img {
    width: 50%;
    height: 600px;
}

.rasm6 {
    margin-left: 150px;
    display: flex;
}

.rasm6 img {
    width: 490px;
    height: 700px;
}

.rasm7 {
    display: flex;
}

.rasm7 img {
    width: 50%;
    height: 700px;
}

.rasm8 {
    display: flex;
}

.rasm8 img {
    width: 50%;
    height: 500px;
}

.rasm9 {
    display: flex;
}

.rasm9 img {
    width: 50%;
    height: 500px;
}

.rasm10 {
    display: flex;
}

.rasm10 img {
    width: 50%;
    height: 500px;
}

.rasm11 {
    display: flex;
}

.rasm11 img {
    width: 50%;
    height: 500px;
}

.rasm12 {
    display: flex;
}

.rasm12 img {
    width: 50%;
    height: 650px;
}

.n {
    width: 50%;
    height: 500px;
    background: blue;
}

input {
    width: 250px;
    height: 40px;
    border-radius: 20px;
}

.bh {
    width: 650px;
    height: 200px;
}

.N {
    display: flex;
}

.na {
    margin-left: 100px;
    width: 40%;
    height: 500px;
    background: blue;
    color: #fff;
}

h3 {
    color: #fff;
    text-align: center;
}

.na>img {
    width: 50px;
    margin-top: 15px;
    margin-left: 250px;
}

.as {
    display: flex;
}

.as>img {
    width: 50px;
    margin: 100px;
}

.h3 {
    margin-top: -70px;
    margin-left: -290px;
}

.h2 {
    margin-top: -25px;
    margin-left: 200px;
}